@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

/* Ionic specific styles */
ion-content {
  --background: #f5f5f5;
}
  
  
  .wrapper {
    background: linear-gradient(60deg, #420285, #08BDBD);
    width: 100%;
    display: inline-table;
    justify-content: center;
    align-items: center;
    height: 100% !important;
  }

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.bg-white {
  background-color: #fff;
  height: 100%;
}

.border {
  border-width: 1px;
}

.rounded-lg {
  border-radius: 0.375rem;
}

.shadow {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dark-bg {
  background-color: #2d2d2d;
}

.dark-border {
  border-color: #474747;
}

.text-gray-900 {
  color: #333;
}

.text-white {
  color: #fff;
}

.text-gray-700 {
  color: #666;
}

.text-blue-700 {
  color: #3182ce;
}

.text-center {
  text-align: center;
}

.hover-bg-blue-800:hover {
  background-color: #2c5282;
}

.focus-ring-blue-300:focus {
  box-shadow: 0 0 0 3px rgba(100, 149, 237, 0.5);
}

.focus-outline-none:focus {
  outline: none;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.col-6 {
    flex: 0 0 calc(50% - 20px);
    margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
    .col-6 {
        flex: 0 0 calc(33.333% - 20px);
    }
}

h3 {
  color: #262626;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 4px;
}

p {
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  color: #666666;

  &.small {
    font-size: 14px;
  }
}

.go-corner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 32px;
  height: 32px;
  overflow: hidden;
  top: 0;
  right: 0;
  background-color: #00838d;
  border-radius: 0 4px 0 32px;
}

.go-arrow {
  margin-top: -4px;
  margin-right: -4px;
  color: white;
  font-family: courier, sans;
}

.card1 {
  display: block;
  position: relative;
  background-color: #f2f8f9;
  border-radius: 4px;
  padding: 32px 24px;
  margin: 12px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
  text-align: center;

  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -16px;
    right: -16px;
    background: #00838d;
    height: 32px;
    width: 61px;
    border-radius: 32px;
    transform: scale(1);
    transform-origin: 50% 50%;
    transition: transform 0.25s ease-out;
  }

  &:hover:before {
    transform: scale(21);
  }
}

.card1:hover {
  h3 {
    transition: all 0.3s ease-out;
    color: #ffffff;
  }
}

